<!DOCTYPE html>
<html lang="pt-br"	xmlns:th="http://thymeleaf.org" 
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Restaurante</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="meusPedidos" sec:authorize="hasAuthority('ROLE_CLIENTE')">Meus Pedidos <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="formasDePagamentoLista" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Formas de Pagamento</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="listaDeClientes" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Clientes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="listaDePedidos" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Lista de Pedidos Totais</a>
				</li>
			</ul>
			<span class="navbar-text">
				<a class="nav-link" href="logout">Logout</a>
			</span>
		</div>
	</nav>
</body>

</br>

<h3>Lista de Meus Pedidos: </h3>

</br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><center>ID</center></th>
	  <th scope="col"><center>Prato Solicitado</center></th>
      <th scope="col"><center>Hora do Pedido</center></th>
      <th scope="col"><center>Valor</center></th>
      <th scope="col"><center>Anotação do pedido</center></th>
	  <th scope="col"><center>Cliente</center></th>
	  <th scope="col"><center>Pagamento</center></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="pedidoAtual : ${clienteLogado.pedidos}">
		<td><center th:text="${pedidoAtual.id}"></center></td>
		<td><center th:text="${pedidoAtual.prato.nome}"></center></td>
		<td><center th:text="${pedidoAtual.horaDoPedido}"></center></td>
		<td><center th:text="${pedidoAtual.prato.preco}"></center></td>
		<td><center th:text="${pedidoAtual.descricao}"></center></td>
		<td><center th:text="${pedidoAtual.cliente.nome}"></center></td>
		<td><center th:text="${pedidoAtual.formaPagamento.descricao}"></center></td>
	</tr>
  </tbody>
</table>

<br/>
<br/>

<h3>Lista de Pratos Cadastrados: </h3>

<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><center>ID</center></th>
      <th scope="col"><center>Nome</center></th>
      <th scope="col"><center>Valor</center></th>
      <th scope="col"><center>Descrição do Prato</center></th>
      <th scope="col"><center>#</center></th>
    </tr>
  </thead>
  <tbody>
  	<tr th:each="pratoAtual: ${listaDePratos}">
  		<td><center th:text="${pratoAtual.id}"></center></td>
  		<td><center th:text="${pratoAtual.nome}"></center></td>
  		<td><center th:text="${pratoAtual.preco}"></center></td>
  		<td><center th:text="${pratoAtual.descricao}"></center></td>
  		<td><center><a th:href="@{pedirPrato/{id}(id=${pratoAtual.id})}" class="btn btn-outline-success" sec:authorize="hasAnyAuthority('ROLE_ADMIN') or hasAnyAuthority('ROLE_CLIENTE')">Pedir Prato</a></center><td>
  	</tr>
  	<tr>
  		<td></td>
  		<td></td>
  		<td></td>
  		<td></td>
  		<td><center><a href="cadastroDePrato" class="btn btn-outline-warning" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Cadastrar um Novo Prato</center><td>
  	</tr>
  </tbody>
</table>

</html>